@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #162A41;
  --border-color: #D3DEE8;
  --gray-font-color: #7B7B7B;
}

body::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6, p, textarea, label {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  display: block;
}

/* 
  font-family: 'Open Sans', sans-serif;
  300,
  400,
  700
*/